* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: teal;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  transition: transform .3s linear;
  cursor: pointer;
}

button:hover {
  background-color: whitesmoke;
  color: teal;
}

button:active {
  transform: scale(0.9);
}

.cash {
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  margin: 10px;
}